<div class="header">
  <div class="header-start current-time">
    <span *ngIf="calendar"
      >{{ startDate | date }} <span *ngIf="endDate">-</span>
      {{ endDate | date }}</span
    >
  </div>
  <div class="header-title">{{ title }}</div>
  <div class="header-end">
    <ListItem
      class="fas fa-calendar-alt calendar"
      *ngIf="calendar"
      (click)="onClick()"
    >
    </ListItem>
    <ListItem
      class="fas fa-sign-in-alt calendar"
      *ngIf="login"
      (click)="goLogin()"
    ></ListItem>
    <ListItem
      class="fas fa-sign-out-alt calendar"
      *ngIf="logout"
      (click)="logOut()"
    ></ListItem>
  </div>
</div>
<Calendar
  [(ngModel)]="startDate"
  [locale]="state.en ? 'enUS' : 'zhCN'"
  [enterDirection]="state.enterDirection"
  [visible]="state.show"
  [defaultDate]="state.now"
  [pickTime]="state.pickTime"
  [type]="state.type"
  [rowSize]="state.rowSize"
  [showShortcut]="state.showShortcut"
  [infinite]="state.infinite"
  [defaultValue]="state.defaultValue"
  (onCancel)="triggerCancel()"
  (onConfirm)="triggerConfirm($event)"
></Calendar>
