.header{
  width: 100%;
  height: 55px;
  background-color: #968c83;
  display: flex;
  justify-content: space-between;
  line-height: 55px;
  text-align: center;
  position: sticky;
  z-index: 88;
  top: 0;
}
.header-start{
  /* padding-left: 10px; */
  flex: 1.5;
}
.current-time{

overflow:hidden;
/* 超出的文本隐藏 */
text-overflow:ellipsis;
/* 溢出用省略号显示 */
white-space:nowrap;
/* 溢出不换行 */
}
.header-title{
  font-size: 18px;
  font-weight: 700;
  flex:3;
}
.header-end{
  /* padding-right: 10px; */
  align-items: center;
  font-size: 17px;
  font-weight: 100;
  flex: 1.5;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
.header-end .calendar{
  background:none;
  line-height: 55px;
  /* float: right ; */

}


