<div class="user-info">
  <div>
    <!-- <div Button (onClick)="showAlert()">
      </div> -->
    <img [src]="imgUrl" class="user-avatar" (click)="showUploadImg(upload)" />
  </div>

  <div class="right">
    <div class="user-name">
      {{ user.username }}
      <img
        src="../../../assets/icons/edit.png"
        class="edit"
        (click)="editProfile(edit)"
      />
    </div>
    <div class="user-description">{{ user.des }}</div>
  </div>
</div>
<ng-template #upload>
  <ImagePicker
    [files]="files"
    [accept]="'image/jpg'"
    [selectable]="files.length < 1"
    (onChange)="fileChange($event)"
    [multiple]="false"
    [length]="1"
  ></ImagePicker
></ng-template>
<ng-template #edit>
  <InputItem
    [clear]="true"
    [value]="user.username"
    (onChange)="inputChange($event)"
    [placeholder]="'Enter your name'"
    [focus]="autoFocus"
    [content]="'Name:'"
  ></InputItem>
  <TextareaItem
            [placeholder]="'Say something about yourself...'"
            [autoFocus]="true"
            [title]="'Desciption:'"
            [autoHeight]="true"
            [value]="user.des"
            [autoHeight]="true"
          ></TextareaItem>
</ng-template>
