.user-info{
  height: 16%;
  background-color: #fff5ea;
  display: flex;
  padding: 27px;
  /* justify-content: space-around; */
  align-items: center;
  border: 1px solid #ccc;
}

.user-avatar{
  background: #ffffff;
  width: 96px;
  height: 96px;
  border: 1px solid #000;
  background-size: contain;
  border-radius: 50%;
  margin: 0 auto;
}
.right{
  height: 77px;
  margin-left: 16px;
}
.right .user-name{
  font-size: 22px;
  font-weight: 800;
}
.edit{
  width: 20px;
  padding: 4px;
}

