<div class="user-info">
  <div>
    <!-- <div Button (onClick)="showAlert()">
      </div> -->
    <img
      [src]="user.avatar || imgUrl"
      class="user-avatar"
      (click)="showUploadImg(upload)"
    />
  </div>

  <div class="right">
    <div class="user-name">
      {{ user.username }}
      <img
        src="assets/icons/edit.png"
        class="edit"
        (click)="editProfile(edit)"
      />
    </div>
    <div class="user-description">{{ user.des || "Lazy..." }}</div>
  </div>
</div>
<div class="main" >
  <h4 (click)="editBudget(budget)">Set Your Budget <span *ngIf="budgetNum">:{{budgetNum}}</span></h4>
  <div class="circle">
    <div class="bar-chart" >
      <canvas
        baseChart
        [datasets]="chartData"
        [labels]="chartLabels"
        [chartType]="'doughnut'"
        [options]="chartOptions"
        [plugins]="plugins"
      >
      </canvas>
    </div>
  </div>
</div>
<ng-template #upload>
  <ImagePicker
    [files]="files"
    [accept]="'image/jpg'"
    [selectable]="files.length < 1"
    (onChange)="fileChange($event)"
    [multiple]="false"
    [length]="1"
  ></ImagePicker
></ng-template>
<ng-template #edit>
  <InputItem
    [clear]="true"
    [(ngModel)]="username"
    [placeholder]="'Enter your name'"
    [content]="'Name:'"
  ></InputItem>
  <TextareaItem
    [placeholder]="'Say something about yourself...'"
    [autoFocus]="true"
    [title]="'Desciption:'"
    [autoHeight]="true"
    [(ngModel)]="userDescription"
    [autoHeight]="true"
  ></TextareaItem>
</ng-template>
<ng-template #budget>
  <InputItem
    [clear]="true"
    [(ngModel)]="budgetNum"
    [content]="'Number:'"
    [type]="'money'"
    [placeholder]="'money format'"
    [focus]="numberFocus"
  ></InputItem>
</ng-template>
