<div class="main">
  <div class="time">Time</div>
  <div class="bar-chart">Am a bar</div>
  <div class="trans-summary">
    <SegmentedControl
      class="tab"
      style="height: 40px; width: auto; font-size: 12px; font-weight: 500"
      [tintColor]="'#839b97'"
      [values]="['All cash out', 'All cansh in']"
      (onChange)="choose($event)"
    ></SegmentedControl>
    <div class="trans-item" *ngFor="let item of analysisList">
      <div class="icon">
        <img [src]="item.cateIcon" alt="" srcset="" />
        <div class="trans-name">{{ item.cateText }}</div>
      </div>
      <div class="percentage">{{ item.catePercent }}%</div>
      <div class="amount">{{ item.catetotalAmount | currency }}</div>
    </div>
  </div>
</div>
