.main {
  width: 100%;
  height: calc(100vh - 115px);
  margin: 0 auto;
  box-sizing: border-box;
  /* background: #cfd3ce; */
  color: #839b97;
  flex-direction: column;
  /* overflow: auto; */
}
.time {
  height: 55x;
  width: 100%;
  font-size: 35px;
  text-align: center;
  font-weight: 700;
}
.bar-chart {
  height: 40vh;
  width: 100%;
  /* background: #000; */
  padding: 4px;
}
.trans-summary {
  flex: 1;
  font-weight: 400;
  padding: 7px;
}
.tab {
}
.trans-item {
  height: 45px;
  border-bottom: 2px solid #839b97;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.icon {
  flex: 2;
  display: flex;
  align-items: center;
}
.icon img {
  width: 45px;
  height: 45px;
  background-size: contain;
  padding: 10px;
}
.percentage {
  flex: 1;
  text-align: center;
}
.amount {
  flex: 1;
  text-align: center;
}
.balance {
  height: 40px;
  width: auto;
  font-size: 19px;
  font-weight: 500;
  background-color: #839b97;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  align-items: center;
  padding: 10px;
}
.total-amount {
  justify-self: flex-end;
}
.list-main {
  /* height: calc(100vh - 450px); */
  height: 38vh;
  overflow: auto;
}
