<div class="img-show">
  <img src="{{ this.pickIcon?.icon || defaultIcon }}" alt="" />
</div>
<div class="main">
  <Tabs
    [page]="2"
    [useOnPan]="true"
    [swipeable]="true"
    [activeTab]="index"
    [tabBarActiveTextColor]="'#1890ff'"
    (onTabClick)="onTabClick($event)"
  >
    <TabPane [title]="titleTemplate">
      <ng-template #titleTemplate>
        <!-- (onChange)="onChange($event)" -->
        <div>Cash Out</div>
      </ng-template>
      <Grid
        [data]="afterAddOutIconList"
        [itemStyle]="{ border: '0.5px inset #34626c'}"
        (onClick)="showPromptDefault($event, update, addIcon)"
      >
      </Grid>
    </TabPane>
    <TabPane [title]="titleTemplate1">
      <ng-template #titleTemplate1>
        <div>Cash In</div>
      </ng-template>
      <Grid
        [data]="afterAddInIconList"
        [itemStyle]="{ border: '0.5px inset #34626c' }"
        (onClick)="showPromptDefault($event, update, addIcon)"
      ></Grid>
    </TabPane>
  </Tabs>
</div>
<ng-template #update>
  <InputItem
    [clear]="true"
    [(ngModel)]="icontext"
    (onChange)="inputChange($event)"
    [placeholder]="'Enter your new name'"
    [content]="'New name:'"
  ></InputItem>
</ng-template>
<ng-template #addIcon>
  <div class="modal-header">
    <h5 class="modal-title pull-left">
      Choose your icon <span *ngIf="pickPageIconData">:</span
      ><span *ngIf="pickPageIconData" class="display-name">{{
        this.displayIconHtmlName
      }}</span>
    </h5>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="bsModalRef?.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <Grid
      [data]="iconPageList"
      [isCarousel]="true"
      [itemStyle]="{ border: '0.5px solid #34626c' }"
      [carouselMaxRow]="3"
      [columnNum]="3"
      (onClick)="click($event)"
    ></Grid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" bs (click)="bsModalRef?.hide()">
      CANCEL
    </button>
    <button type="button" class="btn" (click)="submitIconPage()">PICK</button>
  </div>
</ng-template>
