<div class="enter-area">
  <img src="{{this.pickTrans?.icon}}" alt="" />
  <input type="number" name="" id="">
  <div Button [type]="'primary'" class="btn">Submit</div>
</div>

<Tabs [page]="2" [useOnPan]="true" [swipeable]="true" [activeTab]="index" [tabBarActiveTextColor]="'#1890ff'"
  (onTabClick)="onTabClick($event)">
  <TabPane [title]="titleTemplate">
    <ng-template #titleTemplate>
      <div>Cash Out</div>
    </ng-template>
    <Grid [data]="outIcon" (onClick)="showPromptDefault($event)" >
    </Grid>
  </TabPane>
  <TabPane [title]="titleTemplate1">
    <ng-template #titleTemplate1>
      <!-- <Badge [text]="'今日(20)'"> -->
      <div>Cash In</div>
      <!-- </Badge> -->
    </ng-template>
    <Grid [data]="inIcon" (onClick)="showPromptDefault($event)"></Grid>
  </TabPane>
</Tabs>
