.header {
  width: 100%;
  height: 38px;
  text-align: center;
  color: #839b97;
  line-height: 38px;
}
.main {
  height: 80vh;
}
.des{
  height: 10vh;
  border: 6px double #839b97;
  padding: 4px;
  text-align: center;
  /* line-height: 6vh; */
  color: #839b97;
  font-size: 17px;
  font-weight: 500;
  border: 6px double;
  margin-top: 1vh;
}
