<WingBlank>
  <div class="header"><h2>User Guide</h2></div>
  <WhiteSpace></WhiteSpace>
  <div class="main">
    <Carousel
      [infinite]="true"
      [autoplay]="true"
      (beforeChange)="beforeChange($event)"
      (afterChange)="afterChange($event)"
      [autoplayInterval] = "'5000'"
    >
      <CarouselSlide
        *ngFor="let item of state.data; let i = index"
        [ngStyle]="{ height: state.imgHeight }"
      >
        <div
          style="display: inline-block; width: 100%; height: 80vh;"
          [ngStyle]="{ height: state.imgHeight }"
        >
          <img [src]="item" style="pointer-events: none; width: 100%" />
        </div>
      </CarouselSlide>
    </Carousel>
    <div class="des">{{currentDisplayDes}}</div>
  </div>
</WingBlank>
