<div class="transaction-detail">
  <div class="transaction-summary">
    <div class="month">{{ month }}</div>
    <div class="cash-out">Balance：{{ totalMoney | currency }}</div>
  </div>

  <div class="transaction-items" *ngFor="let item of transactionList; let i = index">
    <div class="single-item" *ngIf="display">
      <img src="{{ item.icon }}" class="label" />
      <div class="label trans-name">{{ item.text }}</div>
      <div type="text" class="label plus-amount">
        {{ item.amount | currency }}
      </div>
      <button class="btn label" (click)="delTransItem(i)">Del</button>
    </div>
  </div>
</div>
